<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.keep.KeepMapper">
	<resultMap type="com.cafe24.guribyn.keep.Keep" id="resultKeep">
		<result column="k_code" property="kCode" />
		<result column="e_id" property="eId" />
		<result column="k_name" property="kName" />
		<result column="k_condition" property="kCondition" />
		<result column="k_datetime" property="kDatetime" />
		<result column="k_site" property="kSite" />
		<result column="k_memo" property="kMemo" />
	</resultMap>

	<select id = "keepCount" resultType="int">
	SELECT COUNT(*) FROM keep
	</select>

	<insert id="keepAdd" parameterType="com.cafe24.guribyn.keep.Keep">
		INSERT INTO keep(
		k_code
		, e_id
		, k_name
		, k_condition
		, k_datetime
		, k_site
		, k_memo
		)
		Values(
		#{kCode}
		, #{eId}
		, #{kName}
		, #{kCondition}
		, now()
		, #{kSite}
		, #{kMemo}
		)
	</insert>

	<select id="keepList" resultMap="resultKeep">
		SELECT
		k_code
		, e_id
		, k_name
		, k_condition
		, k_datetime
		, k_site
		, k_memo
		FROM keep
	</select>

	<select id="keepOne" resultMap="resultKeep">
		Select
		k_code
		, e_id
		, k_name
		, k_condition
		, k_datetime
		, k_site
		, k_memo
		FROM keep
		WHERE k_code=#{kCode}
	</select>
	
	<update id = "keepMod" parameterType="com.cafe24.guribyn.keep.Keep">
	Update keep
	SET
		k_name = #{kName}
		, k_condition = #{kCondition}
		, k_site = #{kSite}
		, k_memo = #{kMemo}
	WHERE
		k_code = #{kCode}
	</update>

</mapper>