<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.notice.NoticeMapper">
<resultMap type="com.cafe24.guribyn.notice.Notice" id="resultNotice">
	<result column="n_Code" property="nCode"></result>
	<result column="e_Id" property="eId"></result>
	<result column="n_Date" property="nDate"></result>
	<result column="n_Memo" property="nMemo"></result>
</resultMap>

	<insert id="insertNotice" parameterType="com.cafe24.guribyn.notice.Notice">
		INSERT INTO notice(
				e_id,
				n_date,
				n_memo
			)
			VALUES(
				#{eId},
				now(),
				#{nMemo}
			)
	</insert>
	
	<select id="NoticeAllSelect" resultMap="resultNotice">
		SELECT
			n_code,
			e_id,
			n_date,
			n_memo
		FROM notice
	</select>
	
	<select id="NoticeOneSelect" resultMap="resultNotice">
		SELECT
			n_code,
			e_id,
			n_date,
			n_memo
		FROM notice
		WHERE n_code=#{nCode}
	</select>
	
	<update id="UpdateNotice" parameterType="com.cafe24.guribyn.notice.Notice">
		UPDATE notice
		SET
			n_memo = #{nMemo}
		WHERE
			n_code = #{nCode}
	</update>
	
</mapper>