<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.booking.BookingMapper">
	<resultMap type="com.cafe24.guribyn.booking.Booking" id="resultBooking">
		<result column="boo_Code" property="booCode" />
		<result column="e_Id" property="eId" />
		<result column="boo_Date" property="booDate" />
		<result column="boo_In" property="booIn" />
		<result column="boo_Night" property="booNight" />
		<result column="boo_Count" property="booCount" />
		<result column="boo_Path" property="booPath" />
		<result column="boo_Memo" property="booMemo" />
	</resultMap>
	<resultMap type="com.cafe24.guribyn.extra.Extra" id="resultBookingExtra">
		<result column="use_extra_code" property="extraCode" />
		<result column="boo_code" property="booCode" />
		<result column="use_extra_condition" property="cateCode" />
		<result column="extra_code" property="extraName" />
		<result column="e_id" property="eId" />
		<result column="use_extra_date" property="extraDate" />
		<result column="use_extra_rate" property="extraRate" />
	</resultMap>
	
	<select id="bookingCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM booking
		<if test="cate != null">
			WHERE ${cate} = #{input}		
		</if>
	</select>
	
	<select id="bookingList" parameterType="java.util.Map" resultMap="resultBooking">
		SELECT 
			boo_code
			, e_name e_id
			, boo_date
			, boo_in
			, boo_night
			, boo_count
			, boo_path 
		FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id
		
		<if test="input != null">
			WHERE category.${cate} = #{input}
		</if>
		ORDER BY boo_code
		<if test="start != null">
			LIMIT ${start}, ${pagePerRow}
		</if>
	</select>
	
	<insert id="bookingRoomAdd" parameterType="com.cafe24.guribyn.room.Room">
		INSERT INTO use_room(
			boo_code
			, room_type_code
			, e_id
			, use_room_rate
			, use_room_condition
		)VALUES(
			(SELECT boo_code FROM booking ORDER BY boo_code DESC LIMIT 1)
			, #{roomTypeCode}
			, #{eId}
			, #{roomSize}
			, #{cateCode}
		)
	</insert>
	
	<insert id="bookingExtraAdd" parameterType="com.cafe24.guribyn.extra.Extra">
		INSERT INTO use_extra(
			boo_code
			, extra_code
			, e_id
			, use_extra_date
			, use_extra_rate
			, use_extra_condition
		)VALUES(
			(SELECT boo_code FROM booking ORDER BY boo_code DESC LIMIT 1)
			, #{extraName}
			, #{eId}
			, #{extraDate}
			, #{extraRate}
			, #{cateCode}
		)
	</insert>
	
	<insert id="bookingAdd" parameterType="com.cafe24.guribyn.booking.Booking">
		INSERT INTO booking(
			e_id
			, boo_date
			, boo_in
			, boo_night
			, boo_count
			, boo_path
			, boo_memo
		)VALUES(
			#{eId}
			, now()
			, #{booIn}
			, #{booNight}
			, #{booCount}
			, #{booPath}
			, #{booMemo}
		)
	</insert>
</mapper>