<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.booking.BookingMapper">
	<resultMap type="com.cafe24.guribyn.booking.Booking" id="resultBooking">
		<result column="boo_Code" property="booCode" />
		<result column="e_Id" property="eId" />
		<result column="boo_Date" property="booDate" />
		<result column="boo_In" property="booIn" />
		<result column="boo_Night" property="booNight" />
		<result column="boo_Count" property="booCount" />
		<result column="boo_Path" property="booPath" />
		<result column="boo_Memo" property="booMemo" />
		<result column="boo_Condition" property="booCondition" />
	</resultMap>
	
	<select id="bookingOne" resultMap="resultBooking">
		SELECT 
			boo_code
			, e_name e_id
			, DATE_FORMAT(boo_date, '%Y-%m-%d %H:%i') boo_date
			, boo_in
			, boo_night
			, boo_count
			, boo_path 
			, boo_condition
		FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id
		WHERE boo_code = #{booCode}
	</select>
	
	<select id="bookingCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM booking
		<if test="cate != null">
			<if test="cate != 'boo_date'">
				WHERE booking.${cate} = #{input}
			</if>
			<if test="cate == 'boo_date'">
				WHERE DATE_FORMAT(boo_date, '%Y-%m-%d') = #{input}
			</if>		
		</if>
	</select>
	
	<select id="bookingList" parameterType="java.util.Map" resultMap="resultBooking">
		SELECT 
			booking.boo_code
			, e_name e_id
			, DATE_FORMAT(boo_date, '%Y-%m-%d %H:%i') boo_date
			, boo_in
			, boo_night
			, boo_count
			, boo_path
			, boo_condition
		FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id		
		<if test="input != null">
			<if test="cate != 'boo_date'">
				WHERE booking.${cate} = #{input}
			</if>
			<if test="cate == 'boo_date'">
				WHERE DATE_FORMAT(boo_date, '%Y-%m-%d') = #{input}
			</if>
			<if test="cate == 'condition'">
				WHERE boo_condition = '예약'
			</if>
		</if>
		ORDER BY booking.boo_code DESC
		<if test="start != null">
			LIMIT ${start}, ${pagePerRow}
		</if>
	</select>
	
	<insert id="bookingAdd" parameterType="com.cafe24.guribyn.booking.Booking">
		INSERT INTO booking(
			e_id
			, boo_date
			, boo_in
			, boo_night
			, boo_count
			, boo_path
			, boo_memo
			, boo_condition
		)VALUES(
			#{eId}
			, now()
			, #{booIn}
			, #{booNight}
			, #{booCount}
			, #{booPath}
			, #{booMemo}
			, '예약'
		)
	</insert>
</mapper>