<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.booking.BookingMapper">
	<resultMap type="com.cafe24.guribyn.booking.Booking" id="resultBooking">
		<result column="boo_Code" property="booCode" />
		<result column="e_Id" property="eId" />
		<result column="boo_Date" property="booDate" />
		<result column="boo_In" property="booIn" />
		<result column="boo_Out" property="booOut" />
		<result column="boo_Count" property="booCount" />
		<result column="boo_Path" property="booPath" />
		<result column="boo_Memo" property="booMemo" />
		<result column="boo_Condition" property="booCondition" />
	</resultMap>
	
	<select id="searchBooCode" resultType="int">
		SELECT boo_code FROM booking ORDER BY boo_code DESC LIMIT 1	
	</select>
	
	<select id="bookingOne" resultMap="resultBooking">
		SELECT 
			boo_code
			, e_name e_id
			, DATE_FORMAT(boo_date, '%Y-%m-%d %H:%i') boo_date
			, boo_in
			, boo_out
			, boo_count
			, boo_path 
			, boo_condition
		FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id
		WHERE boo_code = #{booCode}
	</select>
	
	<select id="bookingCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id
		<if test="input != null">
			<choose>
				<when test="cate == 'boo_date'">
					WHERE ${cate} <![CDATA[> #{input} AND ${cate} <]]> #{input}+ INTERVAL 1 DAY
				</when>				
				<when test="cate == 'boo_out'">
					WHERE ${cate} <![CDATA[>]]> boo_in + INTERVAL 1 DAY
				</when>				
				<otherwise>
					WHERE ${cate} = #{input}
				</otherwise>
			</choose>
		</if>
		<if test="cate == 'condition'">
			WHERE boo_condition = '예약'
		</if>
	</select>
	
	<select id="bookingList" parameterType="java.util.Map" resultMap="resultBooking">
		SELECT 
			boo_code
			, e_name e_id
			, DATE_FORMAT(boo_date, '%Y-%m-%d %H:%i') boo_date
			, boo_in
			, boo_out
			, boo_count
			, boo_path
			, boo_condition
		FROM booking
		LEFT JOIN employee
		ON booking.e_id = employee.e_id		
		<if test="input != null">
			<choose>
				<when test="cate == 'boo_date'">
					WHERE ${cate} <![CDATA[> #{input} AND ${cate} <]]> #{input}+ INTERVAL 1 DAY
				</when>				
				<when test="cate == 'boo_out'">
					WHERE ${cate} <![CDATA[>]]> boo_in + INTERVAL 1 DAY
				</when>				
				<otherwise>
					WHERE ${cate} = #{input}
				</otherwise>
			</choose>
		</if>
		<if test="cate == 'condition'">
			WHERE boo_condition = '예약'
		</if>
		ORDER BY boo_code DESC
		<if test="start != null">
			LIMIT ${start}, ${pagePerRow}
		</if>
	</select>
	
	<insert id="bookingAdd" parameterType="com.cafe24.guribyn.booking.Booking">
		INSERT INTO booking(
			e_id
			, boo_date
			, boo_in
			, boo_out
			, boo_count
			, boo_path
			, boo_memo
			, boo_condition
		)VALUES(
			#{eId}
			, now()
			, #{booIn}
			, #{booIn} + INTERVAL #{booOut} DAY
			, #{booCount}
			, #{booPath}
			, #{booMemo}
			, '예약'
		)
	</insert>
	
	<update id="bookingCondition" parameterType="java.util.Map">
		UPDATE booking
		LEFT JOIN booking_room ON booking.boo_code = booking_room.boo_code
		SET boo_condition=#{condition}
		<if test="booRoomCode != null">
			WHERE boo_room_code = #{booRoomCode}
		</if>
		<if test="booCode != null">
			WHERE booking.boo_code = #{booCode}
		</if>		 
	</update>
</mapper>