<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.room.RoomMapper">
<resultMap type="com.cafe24.guribyn.room.RoomType" id="resultRoomType">
	<result column="room_Type_Code" property="roomTypeCode"></result>
	<result column="e_Id" property="eId"></result>
	<result column="room_Type_Name" property="roomTypeName"></result>
	<result column="room_Type_Rate" property="roomTypeRate"></result>
	<result column="room_Type_Date" property="roomTypeDate"></result>
	<result column="room_Type_Count" property="roomTypeCount"></result>
</resultMap>
<resultMap type="com.cafe24.guribyn.room.Room" id="resultRoom">
	<result column="room_Code" property="roomCode"></result>
	<result column="room_Type_Code" property="roomTypeCode"></result>
	<result column="e_Id" property="eId"></result>
	<result column="room_Name" property="roomName"></result>
	<result column="room_Date" property="roomDate"></result>
	<result column="room_Size" property="roomSize"></result>
</resultMap>
<resultMap type="com.cafe24.guribyn.room.RoomOption" id="resultRoomOption">
	<result column="room_Opt_Code" property="roomOptCode"></result>
	<result column="room_Type_Code" property="roomTypeCode"></result>
	<result column="cate_Code" property="cateCode"></result>
	<result column="e_Id" property="eId"></result>
	<result column="room_Opt_Date" property="roomOptDate"></result>
</resultMap>
	<select id="selectOneRoom" resultMap="resultRoom">
		SELECT 
			room_type_code
		FROM room
		WHERE room_code = #{roomCode}
	</select>

	<insert id="insertRoomType" parameterType="com.cafe24.guribyn.room.RoomType">
		INSERT INTO room_type(
				e_id,
				room_type_name,
				room_type_rate,
				room_type_date,
				room_type_count
			)
				VALUES(
				#{eId},
				#{roomTypeName},
				#{roomTypeRate},
				now(),
				#{roomTypeCount}	
			)
	</insert>
	
	<select id="selectRoomType" resultMap="resultRoomType">
		SELECT 
			room_type_code,
			e_id,
			room_type_name,
			room_type_rate,
			room_type_date,
			room_type_count
		FROM room_type
	</select>
	
	<insert id="insertRoom" parameterType="com.cafe24.guribyn.room.Room">
		INSERT INTO room(
				room_code,
				room_type_code,
				e_id,
				room_name,
				room_date,
				room_size
			)
				VALUES(
				#{roomCode},
				#{roomTypeCode},
				#{eId},
				#{roomName},
				now(),
				#{roomSize}
			)
	</insert>
	
	<select id="selectRoom" resultMap="resultRoom">
		SELECT 
			r.room_code,
			rt.room_type_name as room_type_code,
			r.e_id,
			r.room_name,
			r.room_date,
			r.room_size
		FROM room_type as rt inner join room as r 
		WHERE r.room_type_code = rt.room_type_code
	</select>
	
	<insert id="insertRoomOption" parameterType="com.cafe24.guribyn.room.RoomOption">
		INSERT INTO room_option(
			room_type_code,
			cate_code,
			e_id,
			room_opt_date
		)
		VALUES(
			#{roomTypeCode},
			#{cateCode},
			#{eId},
			now()
		)
	</insert>
	
	<select id="selectRoomOption" resultMap="resultRoomOption">
		SELECT
			ro.room_opt_code, 
			ro.room_type_code AS rtc, 
			ro.cate_code AS cc,
			ro.e_id,
			ro.room_opt_date,
			ca.cate_name as cate_code,
			rt.room_type_name as room_type_code
		FROM room_option AS ro INNER JOIN category AS ca INNER JOIN room_type AS rt
		WHERE ro.cate_code = ca.cate_code AND ro.room_type_code = rt.room_type_code AND ro.room_type_code= #{roomTypeCode}
	</select>
	
	<select id="optionCheck" parameterType="java.util.Map" resultMap="resultRoomOption">
		SELECT 
			cate_code
		FROM room_option
		WHERE room_type_code = #{roomTypeCode}	AND cate_code IN (SELECT cate_code FROM category WHERE cate_small = #{cateCode})
	</select>
	
	<delete id="deleteRoomOption" parameterType="com.cafe24.guribyn.room.RoomOption">
		DELETE FROM room_option
		WHERE room_opt_code = #{rocode}
	</delete>
</mapper>