<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.guribyn.guest.GuestMapper">
	<resultMap type="com.cafe24.guribyn.guest.Guest" id="resultGuest">
		<result column="g_code" property="gCode" />
		<result column="e_id" property="eId" />
		<result column="g_Name" property="gName" />
		<result column="g_Country" property="gCountry" />
		<result column="g_Gender" property="gGender" />
		<result column="g_Phone" property="gPhone" />
		<result column="g_Birthdate" property="gBirthdate" />
		<result column="g_Job" property="gJob" />
		<result column="g_Email" property="gEmail" />
		<result column="g_Date" property="gDate" />
	</resultMap>
	
	<select id="guestOne" resultMap="resultGuest">
		SELECT 
			g_code
			,g_gender
			,g_country
			,e_name e_id
			,g_name
			,g_birthdate
			,g_job
			,g_phone
			,g_email
			,g_date 
		FROM guest
		LEFT JOIN employee
		ON guest.e_id = employee.e_id
		WHERE g_code = #{gCode}
	</select>
	
	<select id="guestList" resultMap="resultGuest">
		SELECT 
			g_code
			,g_gender
			,cate_name g_country 
			,e_name e_id
			,g_name
			,g_birthdate
			,g_job
			,g_phone
			,g_email
			,g_date 
		FROM guest
		LEFT JOIN employee
		ON guest.e_id = employee.e_id
		LEFT JOIN category
		ON guest.g_country = category.cate_code
		ORDER BY g_date DESC
		LIMIT #{start}, #{pagePerRow}
	</select>
	
	<select id="guestCount" resultType="int">
		SELECT COUNT(*) FROM guest
	</select>
	
	<insert id="guestAdd" parameterType="com.cafe24.guribyn.guest.Guest">
		INSERT INTO guest(
			g_gender
			,g_country
			,e_id
			,g_name
			,g_birthdate
			,g_job
			,g_phone
			,g_email
			,g_date
		)VALUES(
			#{gGender}
			<if test="gCountry == null ">
				, (SELECT cate_code FROM category WHERE cate_name = 'korea')
			</if>
			<if test="gCountry != null">
				, #{gCountry}
			</if>
			,#{eId}
			,#{gName}
			,#{gBirthdate}
			,#{gJob}
			,#{gPhone}
			,#{gEmail}
			,now()
		)
	</insert>
	
	<update id="guestMod" parameterType="com.cafe24.guribyn.guest.Guest">
		UPDATE guest
		SET
			g_gender = #{gGender}
			, g_country = #{gCountry}
			, g_name = #{gName}
			, g_birthdate = #{gBirthdate}
			, g_job = #{gJob}
			, g_phone = #{gPhone}
			, g_email = #{gEmail}
		WHERE g_code=#{gCode}
	</update>
</mapper>