@charset "UTF-8";

@import url("common.css");


/* --------------------- layout.left.css--- */


.loginfo {
	font-weight: bold;
	font-size: 11px;
	font-family: 'NanumSquareR';
	color: #E6E7EA;
}
.myinfor:visited, .myinfor:link {
	text-decoration: none;
	color: #31C3DD;
	font-family: NanumSquareR;
	font-weight: bold;
}
.logout {
	background-color: transparent;
	border: 2px solid;
	font-family: NanumSquareR;
	font-weight: 900;
	font-size: 12px;
	color:#5C687D;
	cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.sidenav {
	background-color: #272A2F;
	height: 145%;
  	border: 10px solid #ffffff;
  	border-radius: 30px;
  	box-sizing: border-box;
}


/* --------------------- front.fontMain.css--- */


.frontR {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 12px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontR2 {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 12px;
	background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontR3 {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 12px;
	background-image:linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontR4 {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 11px;
	background-image:linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontR5 {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 12px;
	background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontR6 {
	display:block;
	font-weight: 900;
	color: #272A2F;
	font-size: 12px;
	background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
	width: 80px;
	height:80px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;	
}
.frontE {
	display:block;
	font-weight: bold;
	color: #272A2F;
	font-size: 11px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 180px;
	height:240px;
	float:left;
	padding: 2px;
	margin : 2px;
	border-radius: 10px;
}
.wcon {
	line-height:84px;
}
.visible {
	display: none;
}
.rdcon {
	background-color: #272A2F;
	border: 10px solid #ffffff;
  	border-radius: 30px;
  	box-sizing: border-box;
	height:145%;
}
.top {
	background-color: #ffffff;
	height: 10%;
}.dert {
	clear: none;
    border: 0px none;
    float: none;
    color: #E6E7EA;
    background-color: transparent;
    width: 50px;
}
.derc{
	clear: none;
    border: 0px none;
    float: none;
    color: #E6E7EA;
    background-color: transparent;
    width: 70px;
}
table.frontdetal {
    line-height: 1;
  	margin : 1px 1px;
  	width: 180px;
  	color: #E6E7EA;
}
table.frontdetal td{
	text-align: left;
	width: 60px;
    word-break:break-all;
    height: 25px;
    padding: 1px;
    font-size: 11px;
    font-weight: bold;   
}
.rdbtn {
	clear: none;
    border: 0px none;
    float: none;
    color: #31C3DD;
    background-color: transparent;
    width:30px;
}
.roomCon{
	height: 25px;
	color: #272A2F;
}

/* -------------------------------------------------------------left.jsp */
.copyright {
	font-size: 1ex;
}


.level {
	font-size: 12px;
	font-weight: bold;
}
.frontLevel {
	font-size: 12px;
	font-weight: bold;
}
.testtest {
	font-weight: bold;
	font-size: 20px;
}
.tohome {
	width: 100px;
	height: 70px;
}

.row.content {
	height: 550px
}


/* --------------------------------------top.jsp */

.noticetag1{
	font-size: 11px;
}
.noticetag2{
	font-size: 11px;
}
.dropdown {
	float:left;
	margin : 0px 2px;
}
.drbtn {
	font-size: 11px;	
}


.topb {
	font-size: 18px;
	font-weight: bold;
	margin : 20px 10px;
}

/* --------------------------------------right.jsp */

.right {
	background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

/* --------------------------------------table.jsp */

table.bs {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  	margin : 20px 10px;
  	font-size: 12px;
}

table.bs th {
    width: 110px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #eee;
}

table.bs td {
    width: 170px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


table.main {
    text-align: left;
    border: 1px solid;
    line-height: 1;
  	margin : 20px 10px;
  	font-size: 12px;
}
.floorside{
	float: left;
	margin :0px 10px;
}

.floorside2{
	float: left;
	margin :0px 10px;
	padding-right: 10px;
}
table.main td {
    width: 120px;
    word-break:break-all;
    height: 70px;
    padding: 2px;
    border: 1px solid;
}
.fs1 {
	font-size: 11px;
	font-weight: bold;
}


.de {
	clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}
.data {
		clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}
.drccheck{
		clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
        text-align: center;        
}

.exName {
	clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}

.rdtop {
	font-size: 15px;
	font-weight: bold;
	margin : 20px 10px;
}


.floorpage {
	display: none;
}

.pagebtn {
	width: 100px;
	float: left;
}
.pagebtnNumber {
	float: left;
	width: 150px;
	font-size: 14px;
	font-weight: bold;
}

/*--- -----------------------------------------------*/

.formb {
	margin : 20px 10px;
	font-size: 12px;
	font-weight: bold;
}

.maina {
	font-size: 16px;
	font-weight: bold;
	float: left;
	color:#666;
	margin : 10px 30px;
}
#clock{
	font-size: 16px;
	color:#666;
	margin : 10px 0px;
}

.toshow
{
    display: none;
}