@charset "UTF-8";

/* ----------------------------------------------------------login.jsp */

.loginfo {
	font-size: 7px;
	font-weight: bold;
}
.copyright {
	font-size: 1ex;
}

/* -------------------------------------------------------------left.jsp */
.logout {
	background-color: transparent;
	border: 0px transparent solid;
	font-weight: bold;
	color: #466498;
	letter-spacing: -1px;
}
.myinfor:visited, .myinfor:link {
	text-decoration: none;
	color: #70658B;
	font-size: 12px;
}
.level {
	font-size: 12px;
	font-weight: bold;
}
.frontLevel {
	font-size: 12px;
	font-weight: bold;
}
.testtest {
	font-weight: bold;
	font-size: 20px;
}
.tohome {
	width: 100px;
	height: 70px;
}
.sidenav {
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	height: 150%;
}
.row.content {
	height: 550px
}


/* --------------------------------------top.jsp */

.noticetag1{
	font-size: 11px;
}
.noticetag2{
	font-size: 11px;
}
.dropdown {
	float:left;
	margin : 0px 2px;
}
.drbtn {
	font-size: 11px;	
}
.top {
	background-color: #ffffff;
	height: 10%;
}

.topb {
	font-size: 18px;
	font-weight: bold;
	margin : 20px 10px;
}

/* --------------------------------------right.jsp */

.right {
	background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

/* --------------------------------------table.jsp */

table.bs {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  	margin : 20px 10px;
  	font-size: 12px;
}

table.bs th {
    width: 110px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #eee;
}

table.bs td {
    width: 170px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*--- fornt -------------------------------------------*/
.frontR {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}

.frontR2 {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}

.frontR3 {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image:linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}
.frontR4 {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image:linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}
.frontR5 {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}
.frontR6 {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
	width: 60px;
	height:60px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;	
}

.frontE {
	display:block;
	font-weight: bold;
	color: #486AAE;
	font-size: 11px;
	
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	width: 180px;
	height:240px;
	float:left;
	padding: 2px;
	margin : 2px;
	
	
	border-radius: 10px;
	
}
.wcon {
	line-height:64px;
}

table.main {
    text-align: left;
    border: 1px solid;
    line-height: 1;
  	margin : 20px 10px;
  	font-size: 12px;
}
.floorside{
	float: left;
	margin :0px 10px;
}

.floorside2{
	float: left;
	margin :0px 10px;
	padding-right: 10px;
}
table.main td {
    width: 120px;
    word-break:break-all;
    height: 70px;
    padding: 2px;
    border: 1px solid;
}
.fs1 {
	font-size: 11px;
	font-weight: bold;
}

.visible {
	display: none;
}
.de {
	clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}
.data {
		clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}
.drccheck{
		clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
        text-align: center;        
}

.exName {
	clear: none;
        border: 0px none;
        float: none;
        background-color: transparent;
}
.dert {
	clear: none;
    border: 0px none;
    float: none;
    color: #4641D9;
    background-color: transparent;
    width: 50px;
}
.derc{
	clear: none;
    border: 0px none;
    float: none;
    color: #4641D9;
    background-color: transparent;
    width: 70px;
}
.rdtop {
	font-size: 15px;
	font-weight: bold;
	margin : 20px 10px;
	
}
.rdbtn {
	clear: none;
    border: 0px none;
    float: none;
    color: #4641D9;
    background-color: transparent;
    width:30px;
}
.rdcon {
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
table.frontdetal {
    line-height: 1;
  	margin : 1px 1px;
  	width: 180px;
  	
}
table.frontdetal td{
	text-align: left;
	width: 60px;
    word-break:break-all;
    height: 25px;
    padding: 1px;
    font-size: 11px;
    font-weight: bold;
    
}

.floorpage {
	display: none;
}

.roomCon{
	height: 25px;
}

/*--- -----------------------------------------------*/

.formb {
	margin : 20px 10px;
	font-size: 12px;
	font-weight: bold;
}

.maina {
	font-size: 16px;
	font-weight: bold;
	float: left;
	color:#666;
	margin : 10px 30px;
}
#clock{
	font-size: 16px;
	color:#666;
	margin : 10px 0px;
}

.toshow
{
    display: none;
}